/* General */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4e8c8;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #641314;
  padding: 0 10px;
}


.navbar a, .dropdown .dropbtn {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 16px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.navbar-svg {
  margin-left: auto;
  padding: 10px;
}

.navbar-svg img {
  height: 30px; 
  width: auto;
  cursor: pointer;
}
.navbar-svg:hover {
  background-color: transparent;
}
  

.navbar > a:not(.navbar-svg):hover, 
.navbar > .dropdown:hover .dropbtn {
  background-color: #f4e8c8; 
  border-radius: 5px;
}


.dropdown{
  overflow: hidden;
  float: left;
}

.dropdown .dropbtn{

  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;

}

.dropdown:hover{
     display: block; 
}

.cart-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

#cart-container {
  position: relative;
  font-size: 1.5rem;
  cursor: pointer;
}

#cart-container:hover {
  background-color: #f4e8c8;
  border-radius: 5px;
  padding: 5px; 
  transition: background-color 0.3s ease; 
}

#carrito-value {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
}

/* Hero Section */
.hero {
  background: url(/assets/img/Galletas/Header.jpg) no-repeat center center/cover;
  color:#f4e8c8;
  padding: 180px 20px;
  text-align: center;
  
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.2rem;
}

.hero .btn-primary {
  margin-top: 20px;
}

/* Cards */
.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

/* Footer */
footer {
  background-color: #222;
  color:  rgb(179, 70, 70);;
  font-size: 0.9rem;
}
/* Catalogo de Productos */
.card {
margin-bottom: 20px;
border: none;
}

.card-img-top {
max-height: 250px;
object-fit: cover;
}

.card-body {
padding: 15px;
}

.card-title {
font-size: 1.2rem;
}

.add-to-cart {
margin-top: 10px;
}

/* desde aqui */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Empuja al footer hacia abajo */
}
/* hasta aqui */
